node_modules
.DS_Store
dist
*.local
thumbs.db

.eslintcache
.browserslistrc
.electron-vendors.cache.json

.idea

 *.iml
 *.ipr

# File-based project format
*.iws

# auto import ts
auto-imports.d.ts
components.d.ts
