# https://pnpm.io/zh/npmrc#auto-install-peers
auto-install-peers=true

# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
# node-linker=hoisted

# Mirror
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
